<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title color="primary">Términos y condiciones</ion-title>
    <ion-button slot="end" (click)="booking.modalController.dismiss()" fill="clear">
      <ion-icon color="warning" slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <p class="ion-text-justify">
          Autorizo a mi Entidad Empleadora y/o Pagadora de manera expresa e irrevocable para:<br>
          1. Descontar del salario, pagos, honorarios y/o pensión a que tengo derecho, las cuotas
          correspondientes al crédito de libranza otorgado por DENARIO CAPITAL SAS, más intereses moratorios, primas de
          seguros, gastos ocasionados por cobranza y todos los valores que resulten a mi cargo, de conformidad con los
          reportes entregados por DENARIO CAPITAL SAS, así como sus prórrogas o reestructuraciones y para que los
          valores
          sean girados a DENARIO CAPITAL SAS para atender los pagos a mi cargo. <br>
          2. Descontar las prestaciones sociales, indemnizaciones y los pagos a mi favor derivados de la terminación
          de la relación contractual y girarlos a DENARIO CAPITAL SAS para ser abonados al crédito de
          libranza.<br><br>
          Autorizo al DENARIO CAPITAL SAS de manera expresa e irrevocable para:<br>
          1. Debitar de mis cuentas, sumas o cualquier depósito de dinero a mi favor por
          cualquier concepto, incluidas mi cuenta de nómina y/o cuenta pensional, el valor de las cuotas y/o
          cualquier suma que adeude DENARIO CAPITAL SAS por concepto del crédito de libranza otorgado,
          para abonarlas a las obligaciones a mi cargo. Esta autorización de conformidad con lo previsto en el art. 2195
          del Código Civil se
          extiende aún con posterioridad a mi fallecimiento.<br>
          2. Obtener de mi Empleador y/o Pagador información que se relacione y/o afecte el crédito de
          libranza. Si la Entidad Empleadora y/o Pagadora no realiza el descuento y/o no existen recursos en mi
          cuenta para efectuar los débitos, me obligo a pagar los valores a mi cargo directamente en
          las oficinas de DENARIO CAPITAL SAS.<br><br>
          De igual manera, autorizo a mi Empleador a suministrar información del número de mi
          cuenta bancaria para que DENARIO CAPITAL SAS abone la suma aprobada del crédito de
          libranza a esta, indicando que esta información, sólo será utilizada para los fines aquí
          descritos y podrá ser rectificada en cualquier momento.<br><br>


          DESEMPLEO INVOLUNTARIO<br>
          Seguros Mundial te reconocerá hasta 6 cuotas según el valor asegurado contratado, con objeto de cubrir el pago
          de obligaciones contratadas del asegurado cuando presente una condición involuntaria de desempleo cubierta
          bajo la siguiente póliza.<br><br>

          Recuerda que para acceder a este seguro debes:<br>
          *Ser empleado (persona natural que se obliga mediante una relación laboral a prestar un servicio personal a
          otra persona natural o jurídica, mediante el pago de una remuneración)<br>
          *Mantener una antigüedad laboral en la misma empresa o con el mismo empleador, por un periodo mínimo de 6
          meses continuos al momento de suscribir el certificado individual del seguro, para contratos a termino fijo su
          vencimiento no debe estar dentro de la vigencia de la póliza.<br>
          *Para servidores públicos de libre nombramiento y remoción debe tener un periodo continuo con el mismo
          empleador superior a 18 meses.<br>
          Limite de eventos para indemnizar por asegurado bajo la cobertura de desempleo. Un evento por vigencia anula
          por asegurado.<br><br>

          ¿A PARTIR DE CUANDO TE CUBRIMOS?<br>
          PERIODO DE ESPERA O CARENCIA: Plazo de tiempo interrumpido que debe de transcurrir desde la fecha en que
          ingresas al seguro, para que tengas derecho a las coberturas de esta póliza. Durante el periodo de espera o
          carencia, la cobertura de la póliza no esta activa, por lo que Seguros Mundial no pagara ninguna indemnización
          por algún siniestro que ocurra durante el periodo de espera o carencia.<br><br>

          Para efectos de esta póliza, la cobertura de Desempleo involuntario se establece un plazo de sesenta días (60)
          de periodo de espera o carencia.<br><br>

          QUE NO TE CUBRIMOS<br>
          La presente póliza no cubre el desempleo involuntario que sea resultado de cualquiera de los siguientes
          eventos:<br>
          • Actos de guerra interior o exterior, revolución, rebelión, sedición, asonada o actos violentos motivados por
          conmoción civil.<br>
          • Huelgas, cierres, motines, disturbios y desobediencia civil<br>
          • Pandemias<br>
          • Desastres naturales, incluyendo, pero son limitarse a inundaciones, deslizamientos, terremotos, incendios
          forestales o incendios por rayos.<br>
          • Explosión nuclear, radiación o contaminación nuclear, radiaciones ionizantes o cualquier evento de pérdida
          que provenga de materiales nucleares o contaminación tóxica.<br>
          • Despido por parte del empleador con justa causa.<br>
          • Desempleo ocasionado por decisión voluntaria del asegurado siempre y cuando dicha determinación sea
          espontánea y libre de coacción por parte del empleador.<br>
          • El desempleo resultante del vencimiento de los contratos a término fijo, por la finalización de la obra o
          labor contratada.<br>
          • Contratos a destajo.<br>
          • Terminación de la relación laboral por mutuo consentimiento, sin acuerdo conciliatorio ante el ministerio de
          trabajo o sin acuerdo transaccional o si la suma conciliatoria o transaccional pagada al trabajador resulta
          inferior al 50% de la indemnización que le hubiera correspondido al trabajador particular por su despido sin
          justa causa legal o convencional<br>
          • Si el trabajador particular es despedido por una persona con tercer grado de afinidad o tercero de
          consanguinidad o cuando es trabajador de su propia empresa<br>
          • La suspensión temporal del contrato de trabajo acorde con lo establecido en el art. 51. Del código
          sustantivo del trabajo y las normas que lo modifiquen o desarrollen.<br>
          • Cuando el trabajador no regresa al empleo después de haber sido notificado de la reanudación del trabajo una
          vez desaparecidas las causas de la suspensión del contrato de trabajo<br>
          • Si el trabajador particular llevó a cabo la actividad laboral bajo un contrato que no está regulado por el
          código sustantivo del trabajo, o el servidor público llevó a cabo la actividad laboral bajo condiciones no
          reguladas por la normatividad legal y reglamentaria aplicable a ellos.<br>
          • Es un empleado con contrato a término fijo inferior a seis (6) meses<br>
          • Cuando opere el retiro forzoso por edad de los empleados públicos.<br>
          • Cuando opere la destitución para los empleados públicos<br>
          • Cuando opere el abandono del cargo para los empleados públicos<br>
          • Cuando el asegurado se encuentre en condición administrativa de licencia remunerada o no.<br>
          • Despido masivo o colectivo con autorización del ente encargado en la legislación colombiana.<br>
          • Cuando el asegurado se desvincule laboralmente de la entidad para la cual trabaja, como consecuencia de
          adquirir el derecho a recibir la pensión de jubilación, vejez o invalidez.<br>
          • Cuando el asegurado sea enlistado en las fuerzas armadas.<br>
          • Cuando el asegurado sea nombrado como empleado público y su cargo sea de libre nombramiento y remoción.<br>
          • Cuando en la fecha de contratación de la cobertura individual o dentro de los treinta días anteriores,
          existía evidencia clara de que podía quedar desempleado.<br>
          • Contratos verbales.<br>
          • Trabajadores independientes.<br>
          • Cuando la terminación del contrato de trabajo se presente durante o a la finalización del periodo de
          prueba.<br>
          • Cuando el asegurado pierda su empleo durante el período de carencia.<br>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" (click)="rechazarTyc()" mode="ios" color="danger">
      Rechazar
    </ion-button>
    <ion-button slot="end" (click)="aceptarTyc()" mode="ios" color="success">
      Aceptar
    </ion-button>
  </ion-toolbar>
</ion-footer>