<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      Pagos Denario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div id="container">
    <ion-grid *ngIf="token == false">
      <strong>Ready to create an app?</strong>
      <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
          href="https://ionicframework.com/docs/components">UI Components</a></p>
    </ion-grid>
    <ion-item *ngIf="token == true" lines="none">
      <ion-card style="width: 100%;">
        <ion-card-header>
          <ion-card-title>¡Hola, {{dataBooking.EntireName}}!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <strong>Continua con el pago de tu reserva por: {{dataBooking.Amount | currency:'$
              ':'symbol':'.0-0'}}</strong>
            <ion-row>
              <ion-col>
                <ion-item>
                  <label style="width: 50%;">Crédito (Máx {{this.dataBooking.cupo | currency:'$ ':'symbol':'.0-0'}})</label>
                  <input [(ngModel)]="credito" placeholder="$ 0" currencyMask [options]="{ precision: 0 }"
                    (keyup)="validateAmount()" />
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <label style="width: 50%;">Denarios (Máx {{this.dataBooking.puntos | currency:'Den ':'symbol':'.0-0'}})</label>
                  <input style="width: 50%;" [(ngModel)]="denarios" placeholder="Den 0" currencyMask
                    [options]="{ prefix: 'Den ', precision: 0 }" (keyup)="validateAmount()" />
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <b>Total</b>
                  <input [(ngModel)]="totalPayment" placeholder="$ 0" currencyMask [options]="{ precision: 0 }"
                    disabled />
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="buttonPay == true">
              <ion-col size="12">
                <ion-button expand="block" size="medium" (click)="payBooking()" color="success">Pagar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </div>
</ion-content>